#blog-body {
  main,
  aside,
  #comment {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #blog-body {
    main {
      width: 70%;
    }
    aside {
      width: 30%;
    }
  }
}

.prevNext {
  gap: 1em;
  div {
    width: 50%;
    position: relative;
    a {
      border: 0.1em solid #6495ed;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}

.st-inline-reaction-buttons {
  span.st-count {
    display: none;
  }
}
