<div class="comment-form py-4">
  <h2>Leave a comment</h2>
  <form id="commentbox" class="flex flex-col">
<div class="grid grid-cols-2 gap-4">
      <label class="flex flex-col"
      ><h3>Name</h3>
      <input
        type="text"
        class="p-2 border-[0.25rem] border-gray-700"
        name="name"
        required
      />
    </label>
    <label class="flex flex-col"
      ><h3>Email Address</h3>
      <input
        type="email"
        class="p-2 border-[0.25rem] border-gray-700"
        name="email"
        required
      />
    </label>
</div>
      <label class="flex flex-col"
      ><h3>Website URL (Optional)</h3>
      <input
        type="url"
        class="p-2 border-[0.25rem] border-gray-700"
        name="siteurl"
      />
    </label>
    <label class="flex flex-col"
      ><h3>Comment</h3>
      <textarea
        class="p-2 border-[0.25rem] border-gray-700"
        name="comment"
        cols="30"
        rows="8"
        required
      ></textarea>
    </label>
    <button
      type="submit"
      class="
        py-4
        px-12
        w-auto
        mx-auto
        inline-block
        font-medium
        transition-colors
        text-white
        bg-gray-700
        border-[0.25rem] border-gray-700
        hover:text-gray-700 hover:bg-transparent
      "
    >
      Post Comment
    </button>
  </form>
</div>
