<div class="comments flex flex-col gap-8 p-4 pb-8">
    <h3 class="text-center">Loading Comments...</h3>
    <div class="spinner w-28 h-28 mx-auto rounded-full border-[0.75rem] border-t-[0.75rem] border-gray-600"></div>
</div>