<div class="comment-section py-4">
  <h2 class="comment-header">Leave a comment</h2>
  <h2 class="reply-header text-center hidden"></h2>
  <form class="comment-form flex flex-col">
    <input class="hidden" type="text" name="post" value={Astro.props.id} />
    <input class="hidden" type="text" name="parent" value="0" />
    <div class="grid grid-cols-2 gap-4">
      <label class="self-end flex flex-col"
        ><h3>Name</h3>
        <input
          type="text"
          class="p-2 border-[0.25rem] border-gray-700"
          name="author_name"
          required
        />
      </label>
      <label class="flex flex-col"
        ><h3>Email Address</h3>
        <input
          type="email"
          class="p-2 border-[0.25rem] border-gray-700"
          name="author_email"
          required
        />
      </label>
    </div>
    <label class="flex flex-col"
      ><h3>Website URL (Optional)</h3>
      <input
        type="url"
        class="p-2 border-[0.25rem] border-gray-700"
        name="author_url"
        value=""
      />
    </label>
    <label class="flex flex-col"
      ><h3>Comment</h3>
      <textarea
        class="p-2 border-[0.25rem] border-gray-700"
        name="content"
        cols="30"
        rows="8"
        required
      ></textarea>
    </label>
    <button
      type="submit"
      class="
        comment-button
        li-btn
        text-white
        bg-gray-700
        border-gray-700
        hover:text-gray-700 hover:bg-transparent
      "
    >
      Post Comment
    </button>
    <button
      type="submit"
      class="
        cancel
        hidden
        text-white
        bg-red-700
        border-red-700
        hover:text-red-700 hover:bg-transparent
      "
    >
      Cancel Reply
    </button>
  </form>
</div>
