@use "mixins" as *;

.form-control {
  @apply shadow appearance-none py-3 px-4 text-gray-700 leading-tight;
  transition: outline 0.25s, outline-offset 0.25s;
  box-shadow: 10px 10px 20px #ccc;
  &:focus {
    outline: 0.2rem dotted crimson;
    outline-offset: 0.5rem;
  }
}

.pops {
  span {
    position: relative;
    will-change: left;
    animation: ltr 1s infinite;
  }
}

.nf {
  .latest {
    img {
      filter: drop-shadow(0.05rem 0.05rem 0.1rem #bac2cf)
        drop-shadow(0.1rem 0.1rem 0.2rem #bac2cf)
        drop-shadow(0.2rem 0.2rem 0.4rem #bac2cf)
        drop-shadow(0.4rem 0.4rem 0.8rem #bac2cf);
    }
    p {
      @include line-clamp();
    }
  }
}

.taxonomy {
  p {
    @include line-clamp();
  }
}

.latests {
  p {
    @include line-clamp();
  }
}

.spinner {
  border-top: 1rem solid #66f;
  animation: spin 1s linear infinite;
}

@keyframes ltr {
  0% {
    left: -0.25rem;
  }
  50% {
    left: 0.25rem;
  }
  100% {
    left: -0.25rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
