.navlink {
  @apply p-2 mx-2 visited:text-white;
}

.logo {
  @apply p-2 text-[#006a6a] text-2xl font-bold whitespace-nowrap select-none hover:no-underline;
  background-image: linear-gradient(#006969, #006969);
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.375rem;
  will-change: background-size;
  transition: background-size 0.5s;
  &:hover {
    background-size: 100% 0.375rem;
  }
}

#checkbox:checked ~ #header > div {
  height: 100vh;
  form {
    display: block;
  }
  nav {
    a {
      display: inline-block;
    }
  }
  button {
    div {
      margin: 0;
      &:first-child {
        transform: rotate(135deg);
        margin-bottom: -0.25rem;
      }
      &:last-child {
        transform: rotate(45deg);
      }
    }
  }
}

#header > div {
  nav {
    a:not(.pacific) {
      @apply inline-block text-gray-700 p-2 bg-no-repeat hover:no-underline md:hidden md:relative;
      font-family: Pacifico, cursive;
      background-image: linear-gradient(
        theme("colors.gray.700"),
        theme("colors.gray.700")
      );
      background-position: center 100%;
      background-size: 0% 0.25rem;
      will-change: background-size;
      transition: background-size 0.5s;
      &:hover {
        background-size: 100% 0.25rem;
      }
    }
  }
  form {
    transition: width 1s;
  }
}

#footer > div {
  nav {
    a {
      @apply no-underline text-gray-700 hover:text-yellow-500 font-medium;
    }
  }
}

pre {
  @apply w-full overflow-x-auto;
}

time {
  font-weight: bold;
}

strong {
  position: relative;
}

img {
  @apply mx-auto;
}

ol {
  @apply list-decimal pl-4;
}

ul ul {
  @apply pl-4;
}

figure {
  @apply py-4;
}

figcaption {
  @apply text-center italic p-4;
}

* {
  &:focus,
  &:focus-visible {
    outline: 1rem auto theme("colors.blue.600");
    outline-offset: 0.375rem;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.form-control {
  @apply shadow appearance-none py-3 px-4 text-gray-700 leading-tight;
  transition: outline 0.25s, outline-offset 0.25s;
  box-shadow: 10px 10px 20px #ccc;
  &:focus {
    outline: 0.2rem dotted crimson;
    outline-offset: 0.5rem;
  }
}

.content {
  > div:not(.comments) {
    @apply border-b-[0.25rem] border-gray-700;
  }
  .comments {
    .spinner {
      border-top: 0.75rem solid #66f;
      animation: spin 1s linear infinite;
    }
    .comment {
      &:not(:last-child) {
        @apply border-blue-400 border-b-[0.25rem];
      }
      .comment {
        @apply border-0 ml-auto w-[95%];
        > div:first-child {
          > div {
            @apply scale-95 ml-auto;
          }
        }
      }
      > div:first-child {
        @apply pb-4 flex;
        figure {
          @apply p-[1%] w-1/6 flex justify-center items-center;
          > img {
            @apply rounded-full;
          }
        }
        > div {
          @apply w-5/6 flex flex-col p-4 gap-2;
          cite {
            @apply font-semibold text-xl;
          }
          p {
            @apply mt-2 italic;
          }
          button {
          }
        }
      }
    }
  }
  .comment-form {
    h2,
    h3,
    button {
      @apply my-4;
      + p {
        @apply text-center text-red-700 font-medium;
        &.hold {
          @apply text-yellow-700;
        }
        &.approved {
          @apply text-green-700;
        }
      }
      > div {
        @apply w-6 h-6 rounded-full border-[0.15rem] border-white;
        border-top: 0.15rem solid theme("colors.gray.700");
        animation: spin 1s linear infinite;
      }
      &:hover {
        > div {
          @apply border-gray-700;
          border-top: 0.15rem solid #fff;
        }
      }
    }
    input:focus,
    textarea:focus {
      outline: theme("colors.gray.700") dotted 0.25rem;
      outline-offset: 0.25rem;
    }
  }
}

// #reply-form {
//   @apply border-b-[0.25rem] border-gray-700;
//   p {
//     @apply border-b-[0.25rem] border-gray-700;
//   }
// }

.pops {
  span {
    position: relative;
    will-change: left;
    animation: ltr 1s infinite;
  }
}

.sidebar a {
  @apply inline-block p-1;
}

@keyframes ltr {
  0% {
    left: -0.25rem;
  }
  50% {
    left: 0.25rem;
  }
  100% {
    left: -0.25rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
