@use "mixins" as *;

.form-control {
  @apply shadow appearance-none py-3 px-4 text-gray-700 leading-tight;
  transition: outline 0.25s, outline-offset 0.25s;
  box-shadow: 0.625rem 0.625rem 1.25rem #ccc;
  &:focus {
    outline: 0.2rem dotted crimson;
    outline-offset: 0.5rem;
  }
}

.pops {
  span {
    position: relative;
    will-change: left;
    animation: ltr 1s infinite;
  }
}

.taxonomy {
  p {
    @include line-clamp();
  }
}

.latests {
  p {
    @include line-clamp();
  }
}

.spinner {
  border-top-color: #66f;
  animation: spin 1s linear infinite;
}

.invisible-content {
  content-visibility: hidden;
}

.nf {
  .popular-contents {
    h3 {
      @apply pt-6;
    }
  }
}

@keyframes ltr {
  0% {
    left: -0.25rem;
  }
  50% {
    left: 0.25rem;
  }
  100% {
    left: -0.25rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
