.pushable {
  @apply relative block max-w-max ml-auto duration-200;
  &.focus {
    @apply mx-auto;
    .front {
      background-color: #ec143c;
    }
    .edge {
      background: linear-gradient(
        to left,
        theme("colors.red.900") 0%,
        theme("colors.red.700") 8%,
        theme("colors.red.700") 92%,
        theme("colors.red.900") 100%
      );
    }
  }
  .shadow {
    @apply absolute top-0 left-0 w-full h-full rounded-lg bg-gray-400 translate-y-[0.125rem] transition-transform duration-500;
    will-change: transform;
  }
  .front {
    @apply block relative rounded-lg py-3 px-10 text-white bg-[#3C72DF] text-lg -translate-y-2 transition-transform duration-500;
    will-change: transform;
  }
  .edge {
    @apply absolute top-0 left-0 w-full h-full rounded-lg py-3 px-10;
    background: linear-gradient(
      to left,
      theme("colors.blue.900") 0%,
      theme("colors.blue.700") 8%,
      theme("colors.blue.700") 92%,
      theme("colors.blue.900") 100%
    );
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover {
    @apply no-underline brightness-110;
    .shadow {
      @apply translate-y-1 duration-200;
    }
    .front {
      @apply -translate-y-3 duration-200;
    }
  }

  &:active {
    .shadow {
      @apply translate-y-1 duration-75;
    }
    .front {
      @apply -translate-y-1 duration-75;
    }
  }
}
