@use "poly-fluid-sizing" as pfz;

@font-face {
  font-family: "Metrisch";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/Metrisch-Medium-webfont.eot");
  src: local(""),
    url("/fonts/Metrisch-Medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Metrisch-Medium-webfont.woff2") format("woff2"),
    url("/fonts/Metrisch-Medium-webfont.woff") format("woff"),
    url("/fonts/Metrisch-Medium-webfont.ttf") format("truetype"),
    url("/fonts/Metrisch-Medium-webfont.svg#Metrisch") format("svg");
}

:root {
  font-family: "Metrisch", sans-serif;
  @include pfz.poly-fluid-sizing(
    "font-size",
    (
      320px: 12px,
      768px: 13.75px,
      1024px: 16px,
      1200px: 17.5px,
    )
  );
}

small {
  * {
    font-size: inherit !important;
  }
}

a {
  @apply transition-colors duration-300 text-blue-600 hover:text-[#006969] no-underline hover:underline text-[1.1rem];
  will-change: color;
}

p {
  @apply text-[1.1rem] font-normal;
}

h6 {
  @apply text-[1.15rem] font-normal;
}
h5 {
  @apply text-xl font-medium;
}
h4 {
  @apply text-[1.4rem] font-semibold;
}
h3 {
  @apply text-[1.6rem] font-bold;
}
h2 {
  @apply text-[1.8rem] font-extrabold;
}
h1 {
  @apply text-[2.1rem] font-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply my-5 mx-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  a {
    font-size: inherit;
  }
}

em,
.pacific {
  color: crimson;
}
