@use "poly-fluid-sizing" as pfz;

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pacifico-v17-latin-regular.eot");
  src: local(""),
    url("fonts/pacifico-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/pacifico-v17-latin-regular.woff2") format("woff2"),
    url("fonts/pacifico-v17-latin-regular.woff") format("woff"),
    url("fonts/pacifico-v17-latin-regular.ttf") format("truetype"),
    url("fonts/pacifico-v17-latin-regular.svg#Pacifico") format("svg");
}

@font-face {
  font-family: "Grand Hotel";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/grand-hotel-v8-latin-regular.eot");
  src: local(""),
    url("fonts/grand-hotel-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/grand-hotel-v8-latin-regular.woff2") format("woff2"),
    url("fonts/grand-hotel-v8-latin-regular.woff") format("woff"),
    url("fonts/grand-hotel-v8-latin-regular.ttf") format("truetype"),
    url("fonts/grand-hotel-v8-latin-regular.svg#GrandHotel") format("svg");
}

.form-control {
  @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight;
  transition: outline 0.25s, outline-offset 0.25s;
  &:focus {
    outline: 0.2rem dotted crimson;
    outline-offset: 0.5rem;
  }
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @include pfz.poly-fluid-sizing(
    "font-size",
    (
      320px: 12px,
      768px: 13.75px,
      1024px: 16px,
      1200px: 17.5px,
    )
  );
}

small {
  * {
    font-size: inherit !important;
  }
}

a {
  @apply transition-colors duration-300 text-blue-600 hover:text-[#048557] no-underline hover:underline text-[1.1rem];
  will-change: color;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
}

h6,
.h6 {
  font-weight: 400;
  font-size: 1.15rem;
}
h5,
.h5 {
  font-weight: 500;
  font-size: 1.25rem;
}
h4,
.h4 {
  font-weight: 600;
  font-size: 1.4rem;
}
h3,
.h3 {
  font-weight: 700;
  font-size: 1.6rem;
}
h2,
.h2 {
  font-weight: 800;
  font-size: 1.8rem;
}
h1,
.h1 {
  font-weight: 900;
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1.25rem 0;
  a {
    font-size: inherit;
  }
}
