#about-head {
  background-image: linear-gradient(#073ebe00 0%, #073dbe 100%);
  padding: 3em;
  .divider {
    width: 7.5vw;
    height: 0.3vw;
    border-radius: 0.5vw;
    background-color: lightgray;
  }
}
