.pops {
  span {
    position: relative;
    will-change: left;
    animation: ltr 1s infinite;
  }
}

@keyframes ltr {
  0% {
    left: -0.25rem;
  }
  50% {
    left: 0.25rem;
  }
  100% {
    left: -0.25rem;
  }
}
