#main-menu {
  height: 5em;
  label {
    cursor: pointer;
  }
  #brand-logo {
    height: 3em;
    img {
      height: 3em;
    }
  }
  .collapsible-menu {
    height: calc(100vh - 5em);
    top: 5em;
    left: -100%;
    background-color: #2c3e50;
    transition: left 0.5s ease-in-out;
    a {
      display: block;
      width: 100%;
      margin: auto 0.25em;
      padding: 0.75em;
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        color: #ffa500;
      }
    }
  }
  #search-widget {
    margin: auto 0.25em;
    padding: 0.75em auto;
    width: 40%;
    input[type="text"] {
      width: 100%;
    }
  }
}

#hamburger-icon {
  border: 0.1em solid white;
  border-radius: 0.2em;
  .bar {
    background-color: white;
    width: 1.75em;
    height: 0.29em;
    margin: 0.175em;
  }
}

#collapse:checked {
  ~ #main-menu {
    position: sticky;
    .collapsible-menu {
      left: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  #collapse:checked {
    ~ #main-menu {
      position: static;
    }
  }
  #main-menu {
    width: auto;
    .logobar {
      width: auto;
    }
    #search-widget {
      input {
        &[type="text"] {
          width: auto;
        }
        &[type="submit"] {
          top: -0.6em;
        }
      }
    }
    .collapsible-menu {
      width: auto;
      position: static;
      z-index: 0;
      height: auto;
      background: none;
      a {
        display: inline-block;
        width: auto;
      }
    }
  }
}
