---
import Layout from "../layouts/Layout.astro";
import ErrorImage from "../components/404.astro";
import fetchWPData from "../data/data.js";

const posts = await fetchWPData();
---

<Layout title="Page Not Found">
  <section class="text-center max-w-3xl mx-auto flex flex-col p-4 pb-8">
    <h1>Oops... It seems the page you requested does not exist!</h1>
    <div class="w-3/5 mx-auto">
      <ErrorImage />
    </div>

    <p>
      Please check if you have made a typo in the URL. Or, you can search for
      articles below.
    </p>
    <form
      class="
      relative
      mx-auto
      min-w-[50%]
    "
      onsubmit="event.preventDefault();navigate('search?query=' + query.value)"
    >
      <input
        type="text"
        placeholder="Search …"
        name="query"
        class="form-control w-full"
      />
      <input
        type="submit"
        class="
        bg-transparent
        absolute
        right-1
        top-2/4
        -translate-y-2/4
        opacity-70
        transition-opacity
        duration-300
        hover:opacity-100 hover:cursor-pointer
      "
        value="🔎"
      />
    </form>

    <section class="pops">
      <h3 class="pacific text-center my-12">Popular Articles</h3>
      {posts.map((post) => {
        const title = post.title.rendered;
        const { slug } = post;
        return (
          <h4 class="flex items-center">
            <span class="text-blue-600 p-4">➜</span> <a href={slug}>{title}</a>
          </h4>
        );
      })}
    </section>
  </section>
</Layout>
