---
import Layout from "../layouts/Layout.astro";
import ErrorImage from "../components/404.astro";
import fetchWPData from "../data/data.js";
import PopularContents from "../components/PopularContents.astro";
---

<Layout title="Page Not Found" noindex nofollow>
  <section class="nf p-8">
    <section class="max-w-3xl mx-auto text-center flex flex-col">
      <h1>Oops... It seems the page you requested does not exist!</h1>
      <div class="w-3/5 mx-auto">
        <ErrorImage />
      </div>

      <p>
        Please check if you have made a typo in the URL. Or, you can search for
        articles below.
      </p>

      <form
        class="relative mx-auto min-w-[50%]"
        onsubmit="event.preventDefault();navigate('search?query=' + query.value)">
        <input
          type="text"
          placeholder="Search …"
          name="query"
          class="form-control w-full" />
        <input
          type="submit"
          class="
            bg-transparent
            absolute
            right-1
            top-2/4
            -translate-y-2/4
            opacity-70
            transition-opacity
            duration-300
            hover:opacity-100 hover:cursor-pointer
          "
          value="🔎" />
      </form>
    </section>

    <PopularContents />
  </section>
</Layout>
