---
const { time, modified } = Astro.props;
---

<span class="inline-block">
  {`${modified ? "Last Updated" : "Published"} : `}
  <time dateTime={`${time}Z`}>
    {new Date(`${time}Z`)
      .toDateString()
      .split(" ")
      .map((slice, i) => (i === 1 || i === 3 ? slice : slice + ","))
      .join(" ")}
  </time>
</span>
