.overlay {
  opacity: 0.75;
}
.recent-blogpost-container {
  div {
    top: -5em;
    &::after {
      opacity: 0.75 !important;
    }
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.blogpost-container {
  grid-template-columns: 1fr;
  div {
    background-color: rgb(245, 245, 245);
    > div {
      .title {
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
      .read-more {
        color: white;
        &:hover {
          background-color: black;
        }
      }
    }
  }
}

#pagination-navlinks {
  > * {
    display: inline-block;
    border: 1px solid lightgray;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.3em;
    font-size: 1.75em;
    margin: 0.5em;
    &:hover {
      color: white;
      background-color: blueviolet;
    }
  }
  .current {
    border-color: lightgray;
    background-color: lightgray;
    color: black;
    &:hover {
      color: black;
    }
  }
}

@media screen and (min-width: 576px) {
  .blogpost-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .blogpost-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .blogpost-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
