<footer id="footer" class="bg-blue-200">
  <div
    class="
      p-12
      sm:p-8
      flex
      sm:flex-col
      flex-wrap
      justify-between
      items-center
      gap-16
      max-w-[1200px]
      mx-auto
      sm:gap-8
    "
  >
    <a href="/" class="logo pacific mr-auto sm:m-auto">Soft Hard System</a>

    <nav class="flex flex-col gap-4 sm:text-center">
      <p><strong>Topics</strong></p>
      <a href="/topic/soft" class="">Soft</a>
      <a href="/topic/hard" class="">Hard</a>
      <a href="/topic/system" class="">System</a>
      <a href="/off-topic">Off Topic</a>
    </nav>

    <nav class="flex flex-col gap-2 sm:text-center">
      <p><strong>Links</strong></p>
      <a href="/rss.xml" class="">RSS</a>
      <a href="https://www.facebook.com/rafidmuhyminwafi/" class="">Facebook</a>
      <a href="https://www.linkedin.com/in/rafidmuhymin/" class="">LinkedIn</a>
      <a href="mailto:rafidmuhymin@gmail.com" class="">Mail</a>
    </nav>

    <small class="flex gap-2 w-full text-center">
      <span>
        Copyright ©
        <span>
          <script>
            document.currentScript.parentElement.textContent =
              new Date().getFullYear();
          </script></span
        >
        Soft Hard System All Rights Reserved</span
      >
      <nav class="flex gap-4 ml-auto">
        <a href="/terms" class="text-center">Terms</a>
        <a href="/privacy-policy" class="text-center">Privacy Policy</a>
      </nav>
    </small>
  </div>
</footer>
