<footer id="footer" class="bg-blue-200">
  <div
    class="
      p-12
      sm:p-8
      flex
      sm:flex-col
      flex-wrap
      justify-between
      items-center
      gap-16
      max-w-[1200px]
      mx-auto
      sm:gap-8
    "
  >
    <a href="/" class="logo pacific mr-auto sm:m-auto">Soft Hard System</a>

    <nav class="flex flex-col sm:text-center">
      <p><strong>Topics</strong></p>
      <a href="/topic/soft" class="py-2">Soft</a>
      <a href="/topic/hard" class="py-2">Hard</a>
      <a href="/topic/system" class="py-2">System</a>
      <a href="/off-topic" class="py-2">Off Topic</a>
    </nav>

    <nav class="flex flex-col sm:text-center">
      <p><strong>Links</strong></p>
      <a href="/rss.xml" class="py-2">RSS</a>
      <a href="https://www.facebook.com/rafidmuhyminwafi/" class="py-2">Facebook</a>
      <a href="https://www.linkedin.com/in/rafidmuhymin/" class="py-2">LinkedIn</a>
      <a href="mailto:rafidmuhymin@gmail.com" class="py-2">Mail</a>
    </nav>

    <small class="flex items-center gap-4 w-full text-center">
      <span>
        Copyright ©
        <span>
          <script>
            document.currentScript.parentElement.textContent =
              new Date().getFullYear();
          </script>
        </span>
        Soft Hard System All Rights Reserved</span
      >
      <nav class="flex items-center gap-4 ml-auto">
        <a href="/terms" class="text-center">Terms</a>
        <a href="/privacy-policy" class="text-center">Privacy Policy</a>
      </nav>
    </small>
  </div>
</footer>
