<input type="checkbox" id="checkbox" class="hidden" />

<header id="header" class="bg-gradient-to-b from-[#cde3ff] to-blue-200">
  <div
  id="header"
  class="
    flex flex-wrap
    items-center
    gap-4 px-0 pt-8
    max-w-[1200px]
    mx-auto
    xl:px-10 xl:justify-center
    md:justify-between md:flex-col md:flex-nowrap md:gap-0
  "
>
  <div class="md:flex items-center justify-between md:w-full">
    <a class="logo pacific" href="/"
      >Soft Hard System</a
    >
    <button id="menubar" class="hidden md:inline-block text-[0rem]">
      Menu Button
      <div class="w-6 h-1 m-2 bg-black transition-all duration-1000"></div>
      <div class="w-6 h-1 m-2 bg-black transition-all duration-1000"></div>
    </button>
  </div>

  <nav
    class="
      flex flex-grow md:flex-col
      justify-evenly
      md:text-center
    "
  >
    <a class="pacific" href="/about">Rafid Muhymin Wafi</a>
    <a class="pacific" href="/topic/soft">Soft</a>
    <a class="pacific" href="/topic/hard">Hard</a>
    <a class="pacific" href="/topic/system">System</a>
    <a class="pacific" href="/off-topic">Off Topic</a>
  </nav>

  <form
    class="
      m-2
      relative
      max-w-full
      mx-auto
      md:hidden md:relative md:mb-[calc(8vh-0.4rem)]
    "
    onsubmit="event.preventDefault();navigate('/search?query=' + query.value)"
  >
    <input
      style="box-shadow: 0.625rem 0.625rem 1.25rem #97b6df;"
      type="text"
      placeholder="Search …"
      name="query"
      class="form-control w-full"
    />
    <input
      type="submit"
      class="
        bg-transparent
        absolute
        right-2
        top-2/4
        -translate-y-2/4
        opacity-70
        transition-opacity
        duration-300
        hover:opacity-100 hover:cursor-pointer
      "
      value="🔎"
    />
  </form>
</div>
</header>