---
import { Spa } from "astro-spa";
import HeadComponent from "./HeadComponent.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { minify } from "terser";
import fs from "node:fs";

const { title } = Astro.props;

const script = fs.readFileSync("src/scripts/layout.js", "utf-8");
const { code } = await minify(script);
---

<!DOCTYPE html>
<html lang="en">
  <HeadComponent title={title} />
  <body class="bg-yellow-50">
    <Header />
    <main id="root">
      <slot name="wave">
        <svg viewBox="0 0 976 56.4">
          <path d="M976 42C544 87 380 6 0 55L1 0h975Z" fill="#bfdbfe" />
        </svg>
      </slot>
      <div class="max-w-[1200px] mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
    <Spa containerSelector="#root" />
    {`<script>${code}</script>`}
  </body>
</html>
