---
import fs from "node:fs";
import { Spa } from "astro-spa";
import { minify } from "terser";
import HeadComponent from "./HeadComponent.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

let { title, content } = Astro.props;

title = title ? title : content.title;

const script = fs.readFileSync("script.js", "utf-8");

const { code } = await minify(script);
---

<!DOCTYPE html>
<html lang="en">
<HeadComponent title={title}/>
<body class="bg-yellow-50">
    <Header />
    <main id="root" class="max-w-[1200px] mx-auto">
        <slot></slot>
    </main>
    <Footer />
    <Spa containerSelector="#root" />
    {`<script>${code}</script>`}
</body>
</html>
