---
import { SEO } from "astro-seo";
import { Spa } from "astro-spa";
import styles from "../styles/astro.scss?inline";
import Header from "./LayoutComponents/Header.astro";
import Footer from "./LayoutComponents/Footer.astro";
import AstroScript from "../components/AstroScript.astro";

const {
  title,
  description,
  noindex,
  nofollow,
  type = "website",
  image = `/softhardsystem.png`,
  width = 1024,
  height = 224,
  alt = "Soft Hard System",
  article,
  link = [],
  meta = [],
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head lang="en-US">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <SEO
      title={`${title} | Soft Hard System`}
      {description}
      {noindex}
      {nofollow}
      openGraph={{
        article,
        basic: {
          title,
          type,
          image: Astro.site.href.slice(0, -1) + image,
        },
        optional: {
          description,
        },
        image: {
          type: "image/png",
          width,
          height,
          alt,
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@wafi_rafid",
      }}
      extend={{
        link: [
          {
            rel: "preload",
            href: "/fonts/itim-v5-latin-regular.woff2",
            as: "font",
            crossorigin: "anonymous",
          },
        ].concat(link),
        meta,
      }}
    />

    {"<style>" + styles + "</style>"}
  </head>

  <body class="bg-yellow-50">
    <Header />
    <main id="root">
      <slot name="wave">
        <svg viewBox="0 0 976 56.4">
          <path d="M976 42C544 87 380 6 0 55L1 0h975Z" fill="#bfdbfe"></path>
        </svg>
      </slot>
      <div class="max-w-[1200px] mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
    <Spa containerSelector="#root" progressBarOptions={{ secondary: true }} />
    <AstroScript src="/src/scripts/layout.js" />
  </body>
</html>
