---
import { Spa } from "astro-spa";
import { AstroScript } from "astro-script";
import HeadComponent from "./HeadComponent.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <HeadComponent {...Astro.props} />
  <body class="bg-yellow-50">
    <Header />
    <main id="root">
      <slot name="wave">
        <svg viewBox="0 0 976 56.4">
          <path d="M976 42C544 87 380 6 0 55L1 0h975Z" fill="#bfdbfe"></path>
        </svg>
      </slot>
      <div class="max-w-[1200px] mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
    <Spa containerSelector="#root" />
    <AstroScript src={Astro.resolve("../scripts/layout.js")} />
  </body>
</html>
