---
import { Spa } from "astro-spa";
import HeadComponent from "./HeadComponent.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

let { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <HeadComponent title={title} />
  <body class="bg-yellow-50">
    <Header />
    <main id="root">
      {Astro.request.params.slug ? (
        ""
      ) : (
        <svg viewBox="0 0 976 56.4">
          <path d="M976 42C544 87 380 6 0 55L1 0h975Z" fill="#bfdbfe" />
        </svg>
      )}
      <slot name="wave" />
      <div class="max-w-[1200px] mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
    <Spa containerSelector="#root" />
    <script src={Astro.resolve("../scripts/layout.js")}></script>
  </body>
</html>
